$background-default-color: $metal-grey-color;
$resume-background-color: $paper-white-color;
$printing-background-color: $white-color;
$a-color-override: $black-color;
@media print {
  a {
    text-decoration: none !important;
  }

  body,
  html {
    border: 0 none !important;
    height: 100% !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 0 0 !important;
    width: 100% !important;
  }
  @page {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    size: letter;
  }

  .resume {
    background-color: $white-color;
    border: 0 none !important;
    box-shadow: none;
    margin: 0;
    padding: 3em;
  }
}

a {
  color: $a-color-override;
  text-decoration: none;
}

address {
  border-bottom: 1px solid $black-color;
  border-top: 1px solid $black-color;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: $background-default-color;
  background-image: url("https://i.imgur.com/2aEAsTA.jpg");
  background-size: cover;
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;

  .resume {
    padding: 3em;
  }
}

.bottom-summary-spacer {
  line-height: 0.3;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
}

h4 {
  font-family: 'Lato', sans-serif;
}

.heading-name {
  line-height: 1;
}

.heading-position {
  line-height: 0.2;
}

.heading-location {
  line-height: 1.8;
}

html {
  box-sizing: content-box;
}

.skills-additional {
  padding-bottom: 0;
  transform: translateY(-.8em);
}

.skills-interests {
  transform: translateY(-1.6em);
}

.personal-summary {
  font-size: 0.917em;
}

.project-title {
  text-decoration: underline;
}

.resume {
  background-color: $resume-background-color;
  border: 0.0625em solid $black-color;
  box-shadow: 0.625em 0.625em 3em 0.3125em rgba(0, 0, 0, .75);
  height: 80.875em;
  overflow: hidden;
  padding: 1.875em 1.25em 1.25em;
  width: 62.5em;
}

.white {
  color: $white-color !important;
}
