$background-default-color: $metal-grey-color;
$resume-background-color: $paper-white-color;
$printing-background-color: $white-color;
$a-color-override: $cobolt-color;

@media print {
  a {
    text-decoration: none !important;
  }

  body,
  html {
    border: 0 none !important;
    height: 100% !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 0 0 !important;
    width: 100% !important;
  }
  @page {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    size: letter;
  }

  .resume {
    background-color: $white-color;
    border: 0 none !important;
    box-shadow: none;
    margin: 0;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em !important;
  }
}

a {
  color: $a-color-override;
  text-decoration: none;
}

address {
  border-bottom: 1px solid $black-color;
  border-top: 1px solid $black-color;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: $background-default-color;
  background-image: url('https://i.imgur.com/2aEAsTA.jpg');
  background-size: cover;
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;

  .resume {
    padding-bottom: 3em;
    padding-left: 2.9em;
    padding-right: 2.9em;
    padding-top: 3em;
  }
}

.bottom-summary-spacer {
  line-height: .3;
}

.education-title {
  margin-bottom: .1em;
}

.fun-fact-body {
  margin-top: -.3rem;
  padding-left: 1rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
}

h4 {
  font-family: 'Lato', sans-serif;
}

.h4-span {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.h6-span {
  font-family: 'Lato', sans-serif;
  vertical-align: .1rem;
}

.heading-name {
  line-height: 1;
}

.heading-position {
  line-height: .2;
}

.heading-location {
  line-height: 1.8;
}

html {
  box-sizing: content-box;
}

.innovation-making {
  margin-top: .4em;
}

.leadership-pm {
  margin-bottom: -.6rem;
  margin-top: 1rem;
}

.left-sidebar-section {
  margin-top: -.8em;
  padding-bottom: 0;
}

// don't put a negative margin on the first section, "Skills"
.left-sidebar-section:first-of-type {
  margin-top: 0;
}

.left-sidebar-section > ul {
  margin-top: -.3em;
}

.org-title {
  margin-top: -.3rem;
}

.personal-summary {
  font-size: 0.917em;
}

.projects {
  margin-top: .3rem;
}

.project-middle {
  border-left: 1px solid $black-color;
  border-right: 1px solid $black-color;
}

.resume {
  background-color: $resume-background-color;
  border: 0.0625em solid $black-color;
  box-shadow: 0.625em 0.625em 3em 0.3125em rgba(0, 0, 0, .75);
  height: 80.875em;
  min-width: 62.5em;
  overflow: hidden;
  padding: 1.875em 1.25em 1.25em;
  width: 62.5em;
}

.white {
  color: $white-color !important;
}
